tbody
  each user, index in users
    tr
      td #{index + 1}
      td #{user.lastname}
      td #{user.firstname}
      td #{user.dateOfBirth}
      td #{user.address1}
      td #{user.address2}
      td #{user.city}
      td #{user.postalCode}
      td #{user.country}
      td #{user.phoneNumber}
      td #{user.email}
      td #{user.userNotes}
      td
        a.btn.border-shadow.update(href="/update-user?id=" + user._id)
          span.text-gradient 
            i.fa-solid.fa-pen-to-square